body {
    margin: 0;
    height: 100vh;
    box-sizing: border-box;

};

canvas {
    display: block;

};

.container{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 200;
    
}


.quotes{
    display:none;
    position: absolute;
    margin: 0;
    padding:0;
    transform: translateY(140%);
    font-family: 'Libre Baskerville', serif;
    z-index: 256;
};